<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{site.title}}</title>
<id>{{#if site.url}}{{site.url}}{{else}}urn:md2blog:{{{encodeURIComponent site.title}}}{{/if}}</id>
{{#if site.url}}
<link rel="self" href="{{site.url}}feed.xml"/>
<link rel="alternate" href="{{site.url}}"/>
{{/if}}
<author>
<name>{{site.title}}</name>
</author>
<updated>{{formatDateISO now}}</updated>

{{#each posts_recent}}
<entry>
<title>{{title}}</title>
<id>{{#if link.absolute}}{{link.absolute}}{{else}}urn:md2blog:{{{encodeURIComponent ../site.title}}}:{{{encodeURIComponent title}}}{{/if}}</id>
{{#if link.absolute}}<link rel="alternate" href="{{link.absolute}}"/>{{/if}}
<updated>{{formatDateISO date}}</updated>
{{#if description}}<summary type="text">{{description}}</summary>{{/if}}
<content type="html">{{htmlWithAbsoluteLinks}}</content>
</entry>
{{/each}}
</feed>
