{{#> partialBase navigationPartialName="partialPostNavigation"}}
<article>
<header>
<h1><a href="{{rootPath}}{{link.fromRoot}}">{{title}}</a></h1>
{{> partialDate}}
</header>
{{{contents}}}
<footer>
<p><a href="{{rootPath}}index.html">Back to home</a></p>
</footer>
</article>
{{/partialBase}}
